<template>
  <div class="about">
    <UserList />
  </div>
</template>

<script>
import UserList from '@/components/UserList.vue'

export default {
  name: 'ListView',
  components: { UserList }
}

</script>