<template>
    <div class="filter-div w-100">

        <div class="w-30">
            <label for="country" class="label">Filter By</label>
            <select id="country" name="country" v-model="filterBy">
                <option value="">Select Filter By</option>
                <option value="firstName">First Name</option>
                <option value="country">Country</option>
                <option value="state">State</option>
            </select>
        </div>
        <div v-if="filterBy === 'firstName'" class="w-30 ml-1">
            <label for="firstName" class="label">First Name</label>
            <input type="text" id="firstName" name="firstName" v-model="firstName" placeholder="First Name">
        </div>
        <div v-if="filterBy === 'country'" class="w-30 ml-1">
            <label for="state" class="label">Country</label>
            <input class="w-30" type="text" id="country" name="country" v-model="country" placeholder="Last Name">
        </div>

        <div v-if="filterBy === 'state'" class="w-30 ml-1">
            <label for="state" class="label">State</label>
            <input class="w-30" type="text" id="state" name="state" v-model="state" placeholder="State">
        </div>

        <button class="btn btn-danger btn-sm" @click="filter()" style="margin-top: 2%; margin-left: 10px;">
            Filter
        </button>
        <button class="btn btn-danger btn-sm" @click="reset()" style="margin-top: 2%; margin-left: 10px;">
            Reset
        </button>
        <button class="btn btn-danger btn-sm" @click="downloadExcel()" style="margin-top: 2%; margin-left: 10px;">
            Download Excel
        </button>
    </div>

    <div>
        <table id="users">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Country</th>
                    <th scope="col">State</th>
                    <th scope="col">Location</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="{ id, firstName, lastName, country, state, location } in users" :key="id">
                    <td>{{ firstName }}</td>
                    <td>{{ lastName }}</td>
                    <td>{{ country }}</td>
                    <td>{{ state }}</td>
                    <td>{{ location }}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" @click="deleteUser(id)">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import { useLoadUsers, deleteUser, filterUsers } from '@/firebase'
import { jsontoexcel } from "vue-table-to-excel";

export default {
    data() {
        return {
            firstName: '',
            lastName: '',
            state: '',
            filterBy: '',
            users: []
        }
    },
    mounted() {
        this.users = useLoadUsers()
    },
    methods: {
        filter: function () {
            let filter = ''
            if (this.filterBy === 'firstName') {
                filter = this.firstName
            } else if (this.filterBy === 'country') {
                filter = this.country
            } else if (this.filterBy === 'state') {
                filter = this.state
            }
            this.users = filterUsers(this.filterBy, filter)
        },
        deleteUser: function (id) {
            deleteUser(id)
        },
        reset: function () {
            this.filterBy = ''
            this.firstName = ''
            this.country = ''
            this.state = ''
            this.users = useLoadUsers()
        },
        downloadExcel: function () {
            let data = this.users
            let head = ["First Name", "Last Name", "Country", "State", "Location"]
            let fileName = 'user-list.xlsx'
            jsontoexcel.getXlsx(data, head, fileName);
        }
    }
}
</script>

<style scoped>
input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#users {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#users td,
#users th {
    border: 1px solid #ddd;
    padding: 8px;
}

#users tr:nth-child(even) {
    background-color: #f2f2f2;
}

#users tr:hover {
    background-color: #ddd;
}

#users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.w-30 {
    width: 30%;
}

.label {
    float: left;
}

.filter-div {
    display: flex;
    width: 100%;
}

.ml-1 {
    margin-left: 1rem;
}

.btn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    height:2.5rem;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
</style>