<template>
<div>
  <form @submit.prevent="onSubmit">
    <label for="fname" class="label">First Name</label>
    <input type="text" id="fname" name="firstname" v-model="form.firstName" placeholder="Your name..">

    <label for="lname" class="label">Last Name</label>
    <input type="text" id="lname" name="lastname" v-model="form.lastName" placeholder="Your last name..">

    <label for="country" class="label">Country</label>
    <select id="country" name="country" v-model="form.country" @change="onChangeCountry($event)">
      <option value="">Select Country</option>
      <option v-for="option in countryList" :key="option" :value="option">
      {{ option }}
      </option>
    </select>

    <label for="state" class="label">State</label>
    <select id="state" name="state" v-model="form.state">
      <option value="">Select State</option>
      <option v-for="option in stateList" :key="option" :value="option">
      {{ option }}
      </option>
    </select>

    <label for="location" class="label">Location</label>
    <input type="text" id="location" name="location" v-model="form.location" placeholder="Add Your Location">

    <input type="submit" value="Submit">
  </form>
</div>
</template>

  <script>
  import { createUser } from '../firebase'
  import { reactive } from 'vue'

  export default {
    data() {
        return {
            usaState: ["Texas", "Ohio", "Oklahama"],
            mexicoState: [""],
            nepalState: ["Lumbini", "Madhesh", "Bagmati"],
            indiaState: ["UP", "Delhi", "Karnataka", "Bihar", "Haryana"],
            countryList: [
                "USA", "Mexico", "Nepal","India"
            ],
            stateList: []
        }
    },
  setup() {
    const form = reactive({
        firstName: '',
        lastName: '',
        country: '',
        state: '',
        location: ''
    })
    const onSubmit = async () => {
      await createUser({ ...form })
      form.firstName = ''
      form.lastName = ''
      form.country = ''
      form.state = ''
      form.location = ''
    }
    return { form, onSubmit }
  },
  methods: {
    onChangeCountry: function (event) {
      let selectedCountry = event.target.value
      if(selectedCountry === "USA"){
        this.stateList = [...this.usaState]
      }else if(selectedCountry === "Nepal"){
        this.stateList = [...this.nepalState]
      }else if(selectedCountry === "Mexico"){
        this.stateList = [...this.mexicoState]
      }else if(selectedCountry === "India"){
        this.stateList = [...this.indiaState]
      }

    }
  }
}
</script>

<style scoped>

.label {
    float: left;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 42%;
  margin: auto;
}
</style>

